class rd_agent extends uvm_agent;
  `uvm_component_utils(rd_agent)

  rd_sequencer sqr;
  rd_driver    drv;
  rd_monitor   mon;

  function new(string name = "rd_agent", uvm_component parent = null);
    super.new(name, parent);
  endfunction

  virtual function void build_phase(uvm_phase phase);
    super.build_phase(phase);
    
    mon = rd_monitor::type_id::create("mon", this);
    
    if (get_is_active() == UVM_ACTIVE) begin
      sqr = rd_sequencer::type_id::create("sqr", this);
      drv = rd_driver::type_id::create("drv", this);
    end
  endfunction

  virtual function void connect_phase(uvm_phase phase);
    super.connect_phase(phase);
    if (get_is_active() == UVM_ACTIVE) begin
      drv.seq_item_port.connect(sqr.seq_item_export);
    end
  endfunction
endclass
